@mixin formLabel {
    font-family: Biryani;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    color: #434C5F;
}

@mixin formInputField {
    outline: none;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 1rem;
    height: 45px;
    padding: 8px;
}

@mixin formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
}

.overlay {
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #595757;

    .loginOverlay {
        width: 34%;
        height: 100vh;
        background: #ffffff;       
        z-index: 3;

        .innerLoginOverlay{
            border-color: #C43388;
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            box-sizing: border-box;
            margin: 8%;
            width: 84%;

        }
    }

    @media only screen and (max-width: 1178px) {
        .loginOverlay {
            width: 50%;
        }
    }

    @media only screen and (max-width: 775px) {
        .loginOverlay {
            width: 70%;
        }
    }

    @media only screen and (max-width: 600px) {
        .loginOverlay {
            width: 80%;
        }
    }
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 6%;
    

    .titleGroup {
        @include formGroup;
        font-family: Biryani;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 1.4;
        text-align: center;
        color: #434C5F;
    }

    .errorLabel {
        padding-top: 3%;
        width: 100%;
        font-size: 1rem;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        color: red;
        text-align: center;
        background-color: #FFC3C3;
        border: 2px solid rgba(235, 87, 87, 0.26);
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 30px;
        padding: 15px;
    }

    .emailGroup {
        @include formGroup;
        padding-bottom: 5%;

        .emailLabel {
            @include formLabel;
        }

        .emailField {
            @include formInputField;
        }
    }

    .passwordGroup {
        @include formGroup;
        padding-bottom: 6%;

        .passwordLabel {
            @include formLabel;
        }

        .passwordField {
            @include formInputField;
        }
    }

    .signInProps{
        width: 100%;
        margin-top: 20px;
    }

    .rememberMeGroup{
        float: left;
        width: 50%;
        
        .rememberMeLabel{
           margin-left: 8px;
           font-family: Ubuntu;
           font-size: 14px;
           line-height: 16px;
        }
    }

    .forgotPasswordLinksGroup {
        float: right;

        .forgotPasswordLink {
            font-size: 14px;
            font-family: Ubuntu;
            background: transparent;
            display: inline-block;
            color: #2F80ED;
            text-decoration: none;
            text-align: right;

            &::after {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                background: white;
                transition: width 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .loginButtonGroup {
        @include formGroup;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        .loginButton {
            outline: none;
            width: 250px;
            height: 50px;
            background: #C43388;
            border-radius: 100px;
            padding: 17px 0%;

            font-family: Ubuntu;
            font-style: normal;
            font-weight: bold;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #ffffff;

            cursor: pointer;
        }
    }

    .signUpRequest{
        display: flex;
        width: 100%;
        margin: 45px 0 15px 0;
        padding-bottom: 4%;
        justify-content: center;
        align-items: center;
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 1rem;
        color: rgba(67, 76, 95, 0.5);

        .signUpLink{
            text-decoration: none;
            color: rgba(39, 96, 217, 0.75);
            margin-left: 2px;
        }
    }

    @media only screen and (max-width: 473px) {
        .titleGroup {
            font-size: 1.5rem;
        }
    }

    @media only screen and (max-width: 353px) {
        .titleGroup {
            font-size: 1.2rem;
        }
    }
}
