$small: 470px;
$medium: 620px;
$medium-large: 978px;
$large: 1052px;
$x-large: 1200px;

.landingPageBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 500vh;
  background-image: url('../../assets/LandingPageAssets/bg-image2.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

// .landingPageBg::after,
// .landingPageBg::before {
//   background-color: rgba(0, 0, 0, 0.6);
//   background-blend-mode: overlay;
// }

.contentWrapper {
  width: auto;
  margin: 0 8%;
  color: #FFFFFF;

  @media only screen and (min-width: $medium) {
    width: 40%;
  }
}

.heading {
  font-size: 1.8rem;
  font-weight: 400;

  @media only screen and (min-width: $small) {
    font-size: 2rem;
  }

  @media only screen and (min-width: $medium-large) {
    font-size: 2.4rem;
  }

  @media only screen and (min-width: $large) {
    font-size: 2.8rem;
  }

  @media only screen and (min-width: $x-large) {
    font-size: 3.2rem;
  }
}

.tagline {
 font-size: 1.5rem;
 font-weight: 300;
}

/* Section Two Styles */
.blackHairGirlWrapper {
  width: 30vw;
  margin-right: 15%;
  margin-left: auto;
}

.blackHairGirl {
  width: 100%;
} 


