@mixin formLabel{
    font-family: Biryani;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

@mixin formInputField {
    outline: none;
    background: #FFFFFF;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 2rem;
}

@mixin formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.overlay{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #595757;
}

.loginOverlay{
    width: 32%;
    background: #0D4E67;
    border-radius: 4px;
}

@media only screen and (max-width:1178px){
    .loginOverlay{
        width: 50%;
    }
}

@media only screen and (max-width:775px){
    .loginOverlay{
        width: 70%;
    }
}

@media only screen and (max-width:600px){
    .loginOverlay{
        width: 80%;
    }
}

.loginForm{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 7% 10% 10%;
    margin-bottom: 8%;
    
    &__titleGroup{
        @include formGroup;
        font-family: Biryani;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 140%;
        letter-spacing: 0.15em;
        color: #FFFFFF;
        padding-bottom: 6%;
    }

    .emailGroup{
        @include formGroup;
        padding-bottom: 5%;
    
        .emailLabel{
            @include formLabel;
        }
        
        .emailField{
            @include formInputField;
        }
    }
    
    .passwordGroup{
        @include formGroup;
        padding-bottom: 6%;
    
        .passwordLabel{
            @include formLabel;
        }
        
        .passwordField{
            @include formInputField;
        }
    }

    .loginButtonGroup{
        @include formGroup;
        justify-content: center;
        align-items: center;
        padding-bottom: 4%;

        .loginButton{
            outline: none;
            width: 120px;
            height: 39px;
            background: #FFFFFF;
            border-radius: 10px;

            font-family: Biryani;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 100%;
            letter-spacing: 0.1em;
            color: #0D4E67;

            cursor: pointer;
        }
    }

    @media only screen and (max-width:473px){
        .loginForm__titleGroup{
            font-size: 1.5rem;
        }
    }

    @media only screen and (max-width:353px){
        .loginForm__titleGroup{
            font-size: 1.2rem;
        }
    }
}









