.player-bar {
    background-color: #0D4E67;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    height: 64px;
    font-size: 12px;
    max-width: 100%;
}

.play-button {
    cursor: pointer;
}

.icon, .play-button, .volume-button, .snapshot-button, .download-button {
    display: flex;
    align-items: center;
}

.now-playing {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.song-title {
    font-family: Biryani, sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 7px;
}

.player-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    padding: 0 24px;
}

.controls {
    color: #FFFFFF;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 100%;
}

.controls .progress-time {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.controls .slider {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    height: 10px;
    margin: 0 16px;
}

.controls .slider .progress {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 100%;
}

.player-controls .volume .volume-button {
    cursor: pointer;
}

.player-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.player-bar-right .download {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin-left: auto;
    margin-right: 10%;
}

.player-bar-right .download .snapshot-button,
.player-bar-right .download .download-button {
    cursor: pointer;
}

.upload-button {
    font-family: Biryani, sans-serif;
    background-color: transparent;
    padding: 0.5em 1em;
    border: 0.05em solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: stretch;

}

.upload-button:hover {
    background-color: #FFFFFF;
    color: #0D4E67;
}

.song-container {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: stretch;
}

.song-container [type=file] {
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
}

@media only screen and (max-width: 900px) {
    .player-bar-right .download {
        width: 50%;
    }

    .player-bar-right {
        width: 30%;
    }

    .upload-button {
        width: 80%;
        text-align: center;
    }

    .player-controls {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .player-bar-right .download {
        display: none;
    }
}