@import '../../globalScss/variables.scss';

.boxStyle {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $black;
}

.uploadFunctionalityStyle {
    display: flex;
    width: 45%;
    height: 45%;
    padding: 0.5em 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: dashed 1px $white;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    opacity: 0.5;
}

.iconStyle {
    background: none;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    margin-bottom: 2rem;
}

.uploadText {
    display: flex;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 4rem;
    text-align: center;
    color: $light-grey;
}

.fileFormatStyle {
    display: flex;
    font-weight: 900;
    font-size: 1.1rem;
    text-align: center;
    color: $light-grey;
}

.unsupportBox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.uploadBtn{
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .fileFormatStyle {
        font-size: 0.7rem;
        margin-top: 2rem;
    }

    .uploadText {
        font-size: 1rem;
        line-height: 2rem;
    }
}