.visualizer {
    position: absolute;
    width: 90%;
    height: 86%;
    left: 5%;
    right: 5%;
    top: 7%;
    bottom: 7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}