.landing-page-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/LandingPageAssets/bg-image.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
}

nav {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

.content-wrapper {
  width: 35%;
  margin-left: 8%;
  color: white;
}

.heading {
  font-size: 3.3rem;
  font-weight: 400;
}

.tagline {
 font-size: 1.8rem;
 font-weight: 300;
}

