.signup {
    color: #222;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;

    .colone {
        width: 60%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;

        .container {
            width: 85%;
            padding: 0 .5rem;

            .heading {
                font-size: 4rem;
                font-weight: 400;
            }

            .subheading {
                padding-right: 10rem;
                font-size: 1.5rem;
                font-weight: 400;
            }

            @media screen and (max-width: 992px) {
                .heading {
                    font-size: 2.75rem;
                }

                .subheading {
                    font-size: 1.2rem;
                    padding-right: 0;
                }
            }
        }
    }

    .coltwo {
        width: 40%;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .signupform {
            border: 2px solid #C43388;
            height: 90%;
            width: 80%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .signupheading {
                position: absolute;
                top: 10%;
                font-size: 2.25rem;
                font-weight: 600;
                letter-spacing: .1rem;
            }

            .name,
            .email,
            .password {
                text-align: left;
                width: 90%;
                display: flex;
                margin-top: 3.33%;
                justify-content: flex-start;
            }

            .errorLabel {
                padding-top: 3%;
                width: 100%;
                font-size: 1.2rem;
                line-height: 160%;
                letter-spacing: 0.1em;
                color: red;
                text-align: center;
                padding-bottom: 5%;
            }
        
            .showpassword {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3%;
        
                input {
                    width: auto;
                }
        
                label {
                    width: 90%;
                    font-size: .75rem;
                    letter-spacing: 0.1em;
                    color: #111;
                    padding: 2%;
                }
            }
        
            .custombutton {
                // background-color: greenyellow;
                width: 90%;
                display: flex;
                justify-content: center;
        
                button {
                    text-align: center;
                    letter-spacing: 0.1em;
                    margin-top: 7.5%;
                    margin-bottom: 5%;
                    color: #fafafa;
                    background: #C43388;
                    border-radius: 20px;
                    width: 35%;
                    font-size: 1rem;
                    padding: 2% 2%;
                    transition: background .2s ease-out;

                    &:hover {
                        background: darken(#C43388, 10);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .colone {
            width: 50%;
        }

        .coltwo {
            width: 50%;
        }
    }

    @media screen and (max-width: 768px) {
        .colone {
            display: none;
        }

        .coltwo {
            width: 100%;
        }
    }
}
