.signup {
    color: #222;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;

    .colone {
        width: 60%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;

        .container {
            width: 85%;

            h1 {
                font-size: 3rem;
                font-weight: 200;
            }

            h3 {
                font-size: 1rem;
                font-weight: 400;
            }

            @media screen and (max-width: 992px) {
                h1 {
                    font-size: 2.5rem;
                }

                h3 {
                    font-size: .9rem;
                }
            }
        }
    }

    .coltwo {
        width: 40%;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        

        .signupform {
            border: 2px solid #C43388;
            height: 80%;
            width: 80%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .name,
            .email,
            .password {
                font-size: 60%;
                text-align: left;
                width: 90%;
                display: flex;
                margin-top: 3.33%;
                justify-content: flex-start;
            }

            .errorLabel {
                padding-top: 3%;
                width: 100%;
                font-size: 1.2rem;
                line-height: 160%;
                letter-spacing: 0.1em;
                color: red;
                text-align: center;
                padding-bottom: 5%;
            }
        
            .showpassword {
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2%;
        
                input {
                    width: auto;
                }
        
                label {
                    width: 90%;
                    font-size: .75rem;
                    letter-spacing: 0.1em;
                    color: #111;
                    padding: 2%;
                }
            }
        
            .custombutton {
                // background-color: greenyellow;
                width: 90%;
                display: flex;
                justify-content: center;
        
                button {
                    text-align: center;
                    letter-spacing: 0.1em;
                    margin-top: 7.5%;
                    margin-bottom: 5%;
                    color: #fafafa;
                    background: #C43388;
                    border-radius: 20px;
                    width: 35%;
                    font-size: 1rem;
                    padding: 2% 2%;
                    transition: background .2s ease-out;

                    &:hover {
                        background: darken(#C43388, 10);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .colone {
            width: 40%;
        }

        .coltwo {
            width: 60%;
        }
    }

    @media screen and (max-width: 768px) {
        .colone {
            display: none;
        }

        .coltwo {
            width: 100%;
        }
    }
}

// .signupcomponent {
//     border: 2px solid;
//     width: 100vw;
//     height: 100vh;
//     background: #050516;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;

//     .container {
//         width: 40%;
//         height: 80%;
//         background: #0d4e67;
//         border-radius: 4px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     .signup {
//         width: 70%;
//         display: flex;
//         flex-wrap: wrap;

//         .headlines {
//             width: 100%;
//             height: 16.66%;
//             padding-bottom: 2%;
//             color: white;
//             display: flex;
//             flex-wrap: wrap;

//             .headline {
//                 font-size: 20px;
//                 line-height: 140%;
//                 letter-spacing: 0.12em;
//                 color: #ffffff;
//             }
//         }

//         .subheadline {
//             font-size: 15px;
//             line-height: 32px;
//             color: #ffffff;
//             width: 100%;
//             display: block;
//             height: 50%;
//         }
//     }

//     .searchfields {
//         width: 100%;
//         height: 50%;
//         display: flex;
//         flex-wrap: wrap;

        // .name,
        // .email,
        // .password {
        //     width: 100%;
        //     display: flex;
        //     flex-wrap: wrap;
        //     height: 30%;
        //     margin-top: 3.33%;
        //     justify-content: flex-start;
        // }

//         // label {
//         //     width: 100%;
//         //     font-size: 15px;
//         //     line-height: 160%;
//         //     letter-spacing: 0.1em;
//         //     color: #ffffff;
//         // }

//         // input {
//         //     background: #ffffff;
//         //     border: 2px solid #e6e6e6;
//         //     box-sizing: border-box;
//         //     border-radius: 4px;
//         //     width: 100%;
//         // }
//     }

    // .errorLabel {
    //     padding-top: 3%;
    //     width: 100%;
    //     font-size: 1.2rem;
    //     line-height: 160%;
    //     letter-spacing: 0.1em;
    //     color: red;
    //     text-align: center;
    //     padding-bottom: 5%;
    // }

    // .showpassword {
    //     width: 100%;
    //     display: flex;
    //     margin-top: 2%;
    //     align-items: center;

    //     input {
    //         width: 5%;
    //     }

    //     label {
    //         width: 90%;
    //         font-size: 15px;
    //         line-height: 160%;
    //         letter-spacing: 0.1em;
    //         color: #ffffff;
    //         padding: 1%;
    //     }
    // }

    // .custombutton {
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;

    //     button {
    //         text-align: center;
    //         letter-spacing: 0.1em;

    //         color: #0d4e67;
    //         background: #ffffff;
    //         border-radius: 10px;
    //         width: 30%;
    //         font-size: 1.1rem;
    //         border: none;
    //         outline: none;
    //         padding: 1% 1%;
    //     }
    // }
// }

// @media only screen and (min-width: 430px) and (max-width: 1131px) {
//     .signupcomponent {
//         .container {
//             .signup {
//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }

//                 .custom-button {
//                     button {
//                         width: 25%;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1017px) {
//     .signupcomponent {
//         .container {
//             .signup {
//                 width: 80%;

//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }

//                 .custom-button {
//                     button {
//                         width: 30%;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 892px) {
//     .signupcomponent {
//         .container {
//             width: 50%;

//             .signup {
//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 713px) {
//     .signupcomponent {
//         .container {
//             .signup {
//                 width: 90%;

//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 635px) {
//     .signupcomponent {
//         .container {
//             width: 60%;

//             .signup {
//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 530px) {
//     .signupcomponent {
//         .container {
//             width: 70%;

//             .signup {
//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 455px) {
//     .signupcomponent {
//         .container {
//             width: 80%;

//             .signup {
//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 399px) {
//     .signupcomponent {
//         .container {
//             width: 90%;

//             .signup {
//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 355px) {
//     .signupcomponent {
//         .container {
//             width: 100%;

//             .signup {
//                 .headlines {
//                     justify-content: center;

//                     .headline {
//                         font-size: 18px;
//                     }

//                     .subheadline {
//                         font-size: 13px;
//                         text-align: center;
//                     }
//                 }
//             }
//         }
//     }
// }
