.contactForm {
    width: 66%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    label {
        width: 40%;
        margin: 0 0 2% 0;
        font-size: 1.5em;
    }

    .errorLabel {
        background-color: rgba(147, 112, 219, 0.8);
        padding-top: 3%;
        width: 100%;
        font-size: 1.2rem;
        line-height: 160%;
        letter-spacing: 0.1em;
        text-align: center;
        padding-bottom: 5%;
    }

    .formInput {
        width: 100%;
        line-height: 2.5;
        margin-top: 1%;
        border: none;
        border-radius: 2px;
    }

    .validationError {
        color: red;
        font-size: 1.2em;
    }

    #message {
        overflow: hidden;
    }
}
