.black-hair-girl-wrapper {
  width: 35vw;
  margin-right: 15%;
  margin-left: auto;
}

.black-hair-girl {
  width: 100%;
}

/* @media only screen and (min-width: 420px) {
  .black-hair-girl-wrapper {
    width: 35vw;
  }
} */