.successComponent{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .avatarProfile{
        background: url('./Particles/avatar-profile.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 4em;
        height: 4em;
        right: 0em;
        top: 0em;
    }

    .rectangle{
        display:flex;
        justify-content: center;
        align-content: center;
        position:absolute;
        width: 45em;
        height:60em;
        background: linear-gradient(180deg, #29AC6D 0%, rgba(41, 172, 109, 0.47) 100%);
        border-radius: 4px;
        

        .guitarist{
            background:url('./Particles/electric-guitar.svg');
            background-repeat: no-repeat;
            position: absolute;
            width: 20em;
            height: 20em;
            left: 12.5em;
            top: 20em;
        }

        .successText{
            position: absolute;
            width: 13.6em;
            height:23.4em;
            left: 2em;
            top: 17em;
            
            font-size: 26px;
            line-height: 140%;
            /* or 36px */
            text-align: center;
            letter-spacing: 0.15em;

            color: #EEEEEE;
        }
        
        .backButton{
            background: url('./Particles/Button.svg');
            background-repeat: no-repeat;
            position: absolute;
            width: 6em;
            height: 6em;
            left: 19.5em;
            top: 52.2em;
            cursor:pointer;
        }
    }
}

@media screen and (max-width: 800px){
    .successComponent{
        .rectangle{

            width: 30em;
            height:45em;


            .guitarist{

                width: 20em;
                height: 20em;
                left: 6em;
                top: 8em;
            }

            .successText{

                width: 13.6em;
                height:2.34em;
                left: 8.8em;
                top: 33em;
            }
            
            .backButton{

                width: 6em;
                height: 6em;
                left: 13em;
                top: 38em;
            }
        }
    }
}


