.successComponent{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;

    

    .rectangle{
        top:2em;
        align-content: center;
        position:absolute;
        width: 30em;
        height:40em;
        background: linear-gradient(180deg, #29AC6D 0%, rgba(41, 172, 109, 0.47) 100%);
        border-radius: 4px;

        .guitarist{
            background:url('./Particles/electric-guitar.svg');
            background-repeat: no-repeat;
            position: absolute;
            width: 20em;
            height: 20em;
            left: 10em;
            top: 7em;
        }

        .successText{
            position: absolute;
            width: 13.6em;
            left: 3.35em;
            top: 17em;
            
            font-size: 26px;
            line-height: 140%;
            /* or 36px */
            text-align: center;
            letter-spacing: 0.15em;

            color: #EEEEEE;
        }
        
        .backButton{
            background: url('./Particles/Button.svg');
            background-repeat: no-repeat;
            position: absolute;
            width: 6em;
            height: 6em;
            left: 14.5em;
            top: 34.2em;
            cursor:pointer;
        }
    }
}

@media screen and (max-width: 600px){
    .successComponent{
        

        .rectangle{
            width: 25em;
            height:40em;

            .guitarist{
                left: 7.5em;
                top: 12em;
            }

            .successText{
                left: 1.5em;
                top: 19em;
            }
            
            .backButton{
                left: 11.5em;
                top: 35em;
            }
        }
    }
}

@media screen and (max-width: 450px){
    .successComponent{
        

        .rectangle{
            width: 17em;
            height:35em;

            .guitarist{
                left: 3em;
                top: 5em;
            }

            .successText{
                left:-1.2em;
                top: 13em;
            }
            
            .backButton{
                left: 7em;
                top: 25em;
            }
        }
    }
}
