.social-icons {
  position: relative;
  margin-left: 8%;
}

.social-icon {
  width: 5.5vh;
  transition: all .3s;
}

.social-icon:hover {
  cursor: pointer;
  filter: drop-shadow(1px 4px 5px #ffffff93);
  transform: translateY(-10%);
}

#github {
  position: absolute;
  left: 0;
  z-index: 99;
}

#linkedIn {
  position: absolute;
  left: 5%;
  z-index: 99;
}

#facebook {
  position: absolute;
  left: 10%;
  z-index: 99;
}

#medium {
  position: absolute;
  left: 15%;
  z-index: 99;
}