.forgotPasswordDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(13, 13, 28);
  color: white;

  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 500px;
    background-color: rgb(47, 79, 102);
    border-radius: 10px;

    .pageTitle {
      font-size: 1.5rem;
      padding-bottom: 0;
    }

    .subTitle {
      font-size: 0.8rem;
      margin-bottom: 20px;
    }

    .formGroup {
      margin-bottom: 30px;
    }

  }
}

