.socialIconsContainer {
  display: flex;
  justify-content: space-evenly;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: #0B4E67,
  }
}

.backToPlayer {
  position: absolute;
  right: 4rem;
  bottom: 3rem;
}