.boxStyle {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;

    height: 90vh;
    font-size: 12px;
    max-width: 100%;
    background: #050516;
}

.uploadFunctionalityStyle {
    display: flex;
    width: 45%;
    height: 40%;
    padding: 0.5em 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* font-weight: 900; */
    border: dashed 1.1px #ffffff;
    border-radius: 5px;
    border-width: 1.5px;

    opacity: 0.5;
}

.iconStyle {
    background: none;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
}

.uploadText {
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 1.5rem;
    text-align: center;

    color: #4f4e4e;
}

.fileFormatStyle {
    display: flex;
    font-family: Biryani;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: center;

    color: #4f4e4e;
}
