.socialIcon {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all .1s;

  &:active {
    background-color: #ccc;
  }

  &:hover {
    transform: scale(1.1)
  }
}