
.panelWrapper{
    // width: 300px;
    // height: 756px;
    // margin: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;

    .title{
        font-family: Biryani;
        font-style: normal;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 32px;
        color: #0D4E67;
        border-bottom: 2px solid #0D4E67;
        margin: 5% 5% 0 5%;
        padding: 0 2%;
    }

    .visualList{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin: 5% 0 0% 0;
        padding: 0 5% 0 5%;
    }

    @media only screen and (max-width:500px){
        .title{
            font-size: 1rem;
        }
    }

    @media only screen and (max-width:350px){
        .title{
            font-size: 0.8rem;
        }
    }
}