.forgotPasswordEmailInput,
.forgotPasswordEmailLabel {
    width: 100%;
    font-size: 1rem;
}

.forgotPasswordEmailLabel {
    margin-top: 12px;
}

.forgotPasswordEmailInput {
    border: none;
    border-radius: 5px;
    padding: 0 6px;
    line-height: 1.5rem;
    color: rgb(12, 58, 80)
}

input[type='password'] {
    letter-spacing: 0.3em
}