.forgotPasswordEmailInput, .forgotPasswordEmailLabel {
  width: 100%;
  font-size: 1rem;

}

.forgotPasswordEmailInput {
  border: none;
  border-radius: 5px;
  padding: 0 6px;
  margin-top: 5px;
  line-height: 1.5rem;

}