.playerBar {
    background-color: #0d4e67;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    height: 64px;
    font-size: 12px;
    max-width: 100%;
}

.playButton {
    cursor: pointer;
}

.icon,
.playButton,
.volumeButton,
.snapshotButton,
.downloadButton {
    display: flex;
    align-items: center;
}

.volumeButton:hover .volumeSlider {
    left: 0.6rem;
    opacity: 1;
}

.volumeSlider {
    position: relative;
    left: 0rem;
    width: 5rem;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.nowPlaying {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.songTitle {
    font-family: Biryani, sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-left: 7px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playerControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    padding: 0 24px;

    .volume {
        .volumeButton {
            cursor: pointer;
        }
    }
}

.controls {
    color: #ffffff;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    height: 100%;

    .progressTime {
        font-family: Ubuntu, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .slider {
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.25);
        cursor: pointer;
        position: relative;
        border-radius: 5px;
        height: 10px;
        margin: 0 16px;

        .progress {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: inherit;
            position: absolute;
            pointer-events: none;
            width: 99%;
            height: 100%;
        }
    }
}

.playerBarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 25%;

    .download {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 25%;
        margin-left: auto;
        margin-right: 10%;

        .snapshotButton {
            .downloadButton {
                cursor: pointer;
            }
        }
    }
}

.uploadButton {
    font-family: Biryani, sans-serif;
    background-color: transparent;
    padding: 0.5em 1em;
    border: 0.05em solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    align-items: stretch;

    &:hover {
        background-color: #ffffff;
        color: #0d4e67;
    }
}

.songContainer {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: stretch;

    & [type='file'] {
        cursor: pointer;
        display: block;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        outline: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
}

@media only screen and (max-width: 900px) {
    .playerBarRight {
        width: 30%;
        .download {
            width: 50%;
        }
    }

    .uploadButton {
        width: 80%;
        text-align: center;
    }

    .player-controls {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .icon,
    .volumeButton,
    .playerBarRight .download {
        display: none;
    }
}
