.icons {
  position: relative;
  z-index: 100;
  display: block;
  width: 20vw;
  margin-right: 25%;
  margin-left: auto;
}

#frame {
  /* display: block; */
  width: 22vw;
  /* margin-right: 20%; */
  /* margin-left: auto; */
}

.icon {
  width: 2.5vw;
  transition: 0.3s;
}

.icon:hover {
  filter: drop-shadow(1px 4px 5px #ffffff93);
  cursor: pointer;
}

#download {
  position: absolute;
  right: 38.5%;
  z-index: 99;
}

#print {
  position: absolute;
  right: 79%;
  z-index: 99;
}

#share {
  position: absolute;
  right: -5.5%;
  z-index: 99;
}

#snapshot {
  position: absolute;
  right: 38.5%;
  z-index: 99;
}

#song {
  position: absolute;
  right: 85.5%;
  z-index: 99;
}