$small: 320px;
$medium: 480px;
$medium-large: 640px;
$large: 900px;
$x-large: 1200px;



body{
  margin: 0 auto;
  background-image: url('../../assets/LandingPageAssets/bg-image2.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}


.container{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  

  .myText{
    padding-left: 10vw;
    padding-right: 20px;;
    .heading {
        font-size: 1.8rem;
        font-weight: 400;
        border-bottom: 1.5px solid #FFFFFF;
      
        @media only screen and (min-width: $small) {
          font-size: 1.5rem;
        }
        @media only screen and (min-width: $medium-large) {
          font-size: 2.4rem;
        }
        @media only screen and (min-width: $large) {
          font-size: 2.8rem;
        }
        @media only screen and (min-width: $x-large) {
          font-size: 3.2rem;
        }
    }
      .tagline {
        padding-top: 10px ;   
        font-size: 1.5rem;
        font-weight: 300;
        @media only screen and (min-width: $small) {
          font-size: 0.8rem;
          
        }
        @media only screen and (min-width: $medium-large) {
          font-size: 1rem;
        }
        @media only screen and (min-width: $large) {
          font-size: 1.2rem;
        }
        @media only screen and (min-width: $x-large) {
          font-size: 1.5rem;
        }  
    }
  }

  .item{
    height: 500px;
    flex:1 1 100%; 
    min-width: 400px;
  }
  
  .item1{
    display: flex;
    flex-flow: row wrap; 
    width: 100vw;
    height: 100vh;
    -webkit-flex-flow:row nowrap;
    -moz-flex-flow:row nowrap;
    -ms-flex-flow: row nowrap;
    -o-flex-flow:row nowrap;
    .int1item1{
      flex: 0 1 60%;
      align-self: center;
    }
  }
  .item2{
    height: 500px;
    display: flex;
    flex-flow: row wrap; 
    margin-bottom: 100px;
    
    .int1Item2{
      height: 20vh;
      min-width: 200px; 
      flex: 1 1 40%;
      padding-top:5%;

      h2{
        width: 70%;
      }
    }
    .int2Item2{
      padding:45px;
      margin:auto;
      text-align: center;
      max-width: 600px;
      min-width: 400px; 
      flex: 1 1 60%;
    }
  }
  .item3{
    height: 500px;
    display: flex;
    flex-flow: row wrap; 
    margin: auto;
    .int1Item3{
      min-width: 200px;
      max-width: 400px;
      flex: 1 1 30%;
      margin-left: 15%;

      h1{
        margin-bottom: 15px;
      }
    }
    .int2Item3{

      padding-left: 10%;
      min-width: 400px;
      /* max-width: 40%; */
      flex: 1 1 55%;
    }
  }
}

