.visualmusic {
    font-size: 1rem;
    flex-grow: 1;
}

.pageContainer {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
.bar {
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}