.visualmusic {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    font-size: 1rem;
}

.pageContainer {
    position: relative;
    min-height: 100vh;
  }
  
.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}
