

.pageContainer {
    position: relative;

    /*
    visualContainer's responsiveness is base on
    min-height
    max-height
    */
    min-height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.visualContainer{
    $animSpeed: .5s !default;
    $hamburgerSize: 40px !default;
    //Modify this value to change panel width
    $panelWidth: 30% !default; 
    $visualMusicWidth: 100% !default;

    position: relative;
    flex-grow: 1;
    height: 100%;

    .visualPanel{
        z-index: 2;
        position: absolute;
        width: $panelWidth;
        height: 100%;
        left: -$panelWidth;
        background-color: white;

        transition: all $animSpeed ease-in-out;

        &.slideIn{
            left: 0;
        }
    }

    .visualmusic {
        position: absolute;
        width: $visualMusicWidth;
        height: 100%;
        right: 0;
        background: #595757;

        transition: all $animSpeed ease-in-out;
        
        display: flex;
        justify-content: center;
        align-items: center;

    
        .hamburger{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: $hamburgerSize;
            height: $hamburgerSize;
        }

        &.shrink{
            width:100% - $panelWidth;
        }
    }
}

.bar {
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.upload-page {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

